/*================================================================================
HEADER
================================================================================== */

/* ---------- Zone header ---------- */

header{
    display: flex;
    align-items: center;
    padding: 34px 0;
    background: var(--primary);
    color: var(--white);
}

/* ---------- Split 2 colonnes (même config. que main-content et sidebar dans style.css) ---------- */

header figure {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 42px;
}

.header-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 42px;
}

/* ---------- Photo de profil ---------- */

.avatar {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid var(--white);
    overflow: hidden;
}

.avatar img {
    position: absolute;
    width: 200%;
    height: auto;
    transform: translate(-20%, -10%);
    display: block;
}

.avatar::after { /* Ombre interne */
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(0,0,0,0) 55%, rgba(0,0,0,0.3) 100%);
    pointer-events: none;
}

/* ---------- Liste de contact ---------- */

header ul {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(2, auto);
    gap: 10px 46px;
    margin: 0 0 3px;
    padding: 0;
    justify-content: center;
}

header li {
    display: flex;
    align-items: center;
    gap: 6px;
}

header li img {
    width: 20px;
    height: 20px;
}

header li a{
    display: inline-flex;
    align-items: center;
    gap: 6px;
}