/*================================================================================
MAIN CONTENT
================================================================================== */

/* ---------- Zone main-content ---------- */

#main-content {
    padding: 52px 50px 75px;
}

/* ---------- Mise en page du paragraphe "Profil" ---------- */

main > section p {
    margin: 0;
    text-indent: 1.4rem;
    text-align: justify;
    line-height: 1.16;
}

/* ---------- Titres ---------- */

#main-content h3:not(:first-of-type) {
    margin-top: 28px;
}


/* ---------- Listes du contenu principal ---------- */

main > section ul {
    list-style: none;
    padding: 0;
    display: grid;
    gap: 18px;
    margin: 0;
}

main > section ul li {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 16px;
    align-items: baseline;
}

.formation-title em {
    display: block;
}

.formation-title {
    grid-column: 1;
}

main > section ul li div {
    grid-column: 2;
    justify-self: end;
    white-space: nowrap;
    color: var(--primary);
}