/*================================================================================
IMPORTS
================================================================================== */
@import url('_header.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*================================================================================
PALETTE DE COULEURS
================================================================================== */

:root{
    --primary : #17abb3;
    --dark : #333333;
    --grey : #e3e3e3;
    --light-grey : #f5f5f5;
    --white : #ffffff;
}

/*================================================================================
POLICES LOCALES
================================================================================== */

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Regular.woff);
    src: url(../fonts/Raleway-Regular.ttf) format(truetype);
    src: url(../fonts/Raleway-Regular.otf) format(opentype);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Italic.woff);
    src: url(../fonts/Raleway-Italic.ttf) format(truetype);
    src: url(../fonts/Raleway-Italic.otf) format(opentype);
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Bold.woff);
    src: url(../fonts/Raleway-Bold.ttf) format(truetype);
    src: url(../fonts/Raleway-Bold.otf) format(opentype);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*================================================================================
BASE GLOBALE
================================================================================== */

html, body {
    margin: 0;
}

/* ---------- Titres ---------- */

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
}

/* ---------- Contenu ---------- */

body {
    font-family: 'Raleway', sans-serif;
}